<div class="container">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="title">Editar</h1>
		</div>

		<div class="panel-body">


<div class="list" ng-if="msg.lenght!=0" >
	<div >
		<div class="list card">

			<p ng-repeat="item in msg" class="item item-icon-left" href="#">
				<i class="icon ion-alert-circled"></i>
				{{item}}
			</p>

		</div>


	</div>

<form id="editarAnimais">

	<div class="list list-inset">

		<div class="form-group">
			<label>Nome:</label>
			<input type="text" name="nome" id="nome" class="form-control" ng-model="animal.nome" placeholder="Nome" required>
		</div>

		<div class="form-group">
			<label>Raça:</label>
			<input type="text" name="raca" id="raca" class="form-control" placeholder="Raça" ng-model="animal.raca" value="{{animal.raca}}" required>
		</div>

		<div class="form-group">

			<label>Gênero:</label>

			<select name="sexo" ng-model="animal.sexo" id="sexo" class="form-control" required>
				<option value="">Selecione o gênero</option>
				<option value="macho">Macho</option>
				<option value="femea">Fêmea</option>
			</select>

		</div>

		<div class="form-group">

			<label>Categoria:</label>

			<select name="tipos_id" id="tipos_id" class="form-control" ng-model="animal.tipos_id">
				<option value="">Selecione o tipo</option>
				<option value="{{tipo.tipos_id}}" ng-repeat="tipo in tipos">{{tipo.nome}}</option>
			</select>

		</div>
		

		<figure>
			<img src="{{api}}uploads/{{animal.imagem}}" alt="">
		</figure>

		<div class="form-group">

			<label>Imagem:</label>

		<input type="file" id="file1" name="arquivo" multiple
			   ng-files="getTheFiles($files)" />


		</div>
		


		<input type="hidden" name="imagem" id="imagem">

		<input type="hidden" name="animais_id" value="{{animais_id}}">

		<input type="hidden" name="users_id" id="users_id" value="{{token}}">
		<button ng-click="editar()" class="btn btn-default">Editar</button>
	</div>
</form>



	</div>
		</div>
		</div>

