
<div class="bar bar-header bar-positive">
    <h1 class="title">Painel</h1>
</div>

    <form ng-controller="InicioCtrl" id="form-login">
        <div class="list">
          
            <input type="text" name="username" id="email" ng-model="user.username" placeholder="E-mail">
                
           
            <input type="text" placeholder="Senha" name="password" id="senha" ng-model="user.password" >
           
            <button class="button button-full button-balanced" ng-click="login()" type="button">Entrar</button>
            <a class="button button-block button-positive" type="button" ng-click="facebookLogin()" ng-show="fbLogin"><i class="ion-social-facebook"></i> Entrar com Facebook</a>

        </div>
    </form>


